<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Movie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
</head>

<body>
<nav data-th-replace="fragments/fragments-admin-navbar :: admin-navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-group" style="margin-top:40px">
                <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <form autocomplete="off" action="#" th:action="@{/admin/addMovie}"
                              th:object="${movie}" method="POST" enctype='multipart/form-data' class="form-horizontal">

                            <h3>Add Movie</h3>
                            <br/>

                            <input type="text" id="title" name="title" th:placeholder="Title"
                                   class="form-control"/> <br/>
                            <input type="text" id="director" name="director" th:placeholder="Director"
                                   class="form-control"/> <br/>
                            <input type="text" id="genre" name="genre" th:placeholder="Genre"
                                   class="form-control"/> <br/>
                            <textarea rows="4" id="description" name="description" placeholder="Description"
                                      class="form-control"></textarea> <br/>
                            <input type="number" id="durationMin" name="durationMin" th:placeholder="Duration"
                                   class="form-control"/> <br/>
                            <input type="file" accept="image/*" id="file" name="file"
                                   class="form-control"/> <br/>

                            <button class="btn btn-lg btn-success btn-block" name="Submit" type="Submit"
                                    th:text="Save"></button>
                            <br/>
                        </form>
                        <p class="success-message-text text-center" th:utext="${successMessage}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>