<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Screening</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
</head>

<body>
<nav data-th-replace="fragments/fragments-admin-navbar :: admin-navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-group" style="margin-top:40px">
                <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <form autocomplete="off" action="#" th:action="@{/admin/addScreening}"
                              th:object="${screening}" method="POST" class="form-horizontal">

                            <h3>Add Screening</h3>
                            <br/>

                            <select class="form-control" name="movieid" id="movieid">
                                <option th:each="movie : ${allMovies}"
                                        th:value="${movie.id}"
                                        th:selected="${movie.isSelected(lastSelectedMovie)}"
                                        th:text="${movie.title}">
                                </option>
                            </select><br/>
                            <select class="form-control" name="auditoriumid" id="auditoriumid">
                                <option th:each="auditorium : ${allAuditoriums}"
                                        th:value="${auditorium.id}"
                                        th:selected="${auditorium.isSelected(lastSelectedAuditorium)}"
                                        th:text="${auditorium.name}">
                                </option>
                            </select><br/>
                            <input type="date" id="screeningStartDate" name="screeningStartDate" max="2100-12-31"
                                   class="form-control"/> <br/>
                            <input type="time" id="screeningStartHour" name="screeningStartHour"
                                   class="form-control" value="00:00:01" step="60"/> <br/>

                            <button class="btn btn-lg btn-success btn-block" name="Submit" type="Submit"
                                    th:text="Save"></button>
                            <br/>
                        </form>
                        <p class="success-message-text text-center" th:utext="${successMessage}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>