<nav class="navbar navbar-inverse bg-dark navbar-fixed-top" id="navbar-main" data-th-fragment="regular-navbar">
    <a class="navbar-brand">CinemApp</a>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a href="/regular/repertoir"> <span class="glyphicon glyphicon-facetime-video"></span>&nbsp;Repertoir</a>
        </li>
        <li class="nav-item">
            <a href="/regular/contact"> <span class="glyphicon glyphicon-envelope"></span>&nbsp;Contact</a>
        </li>
        <li class="nav-item">
            <a href="/regular/profile"> <span class="glyphicon glyphicon-user"></span>&nbsp;Profile</a>
        </li>
        <li class="nav-item">
            <a href="/regular/myRes"> <span class="glyphicon glyphicon-calendar"></span>&nbsp;My Reservations</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a href="/logout"> <span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
    </ul>
</nav>