<nav class="navbar navbar-inverse bg-dark navbar-fixed-top" id="navbar-main" data-th-fragment="admin-navbar">
    <a class="navbar-brand">CinemApp</a>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a href="/admin/home"> <span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
        </li>
        <li class="nav-item">
            <a href="/admin/users"> <span class="glyphicon glyphicon-user"></span>&nbsp;Users</a>
        </li>
        <li class="nav-item">
            <a href="/admin/addScreening"> <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Event</a>
        </li>
        <li class="nav-item">
            <a href="/admin/addMovie"> <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Movie</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a href="/logout"> <span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
    </ul>
</nav>