<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
</head>

<body>
<nav data-th-replace="fragments/fragments-guest-navbar :: guest-navbar"></nav>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-group" style="margin-top:40px">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <form autocomplete="off" action="#" th:action="@{/contact}"
                              th:object="${message}" method="POST" class="form-horizontal">

                            <h3>Send us a message</h3>
                            <br/>

                            <input type="email" id="subject" name="subject" placeholder="type your email address here"
                                   class="form-control"/> <br/>
                            <textarea rows="5" id="text" name="text" placeholder="your message..."
                                      class="form-control"></textarea> <br/>

                            <button class="btn btn-lg btn-success btn-block" name="Submit" type="Submit"
                                    th:text="Send"></button>
                            <br/>
                        </form>
                        <p class="success-message-text text-center" th:utext="${successMessage}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>