<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Actual Events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#screeningsTable').DataTable({
                "order": [[ 2, "asc" ]]
            });
        });</script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}" />
</head>

<body>
<nav data-th-replace="fragments/fragments-guest-navbar :: guest-navbar"></nav>

<div data-th-replace="fragments/fragments-repertoir-body :: repertoir-body"></div>

</body>
</html>